.post-box {
  padding: 8px 8px 8px 8px;
  border: 1px solid lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.username-container {
  padding: 8px 8px 8px 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subject-container {
  padding: 8px 8px 8px 8px;
  font-weight: bold;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
